doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title= title
    meta(name="description", content="Cartelera de cine en los teatros y salas de las principales ciudades de Colombia. Películas, estrenos y trailers.")
    link(rel="stylesheet", href="./public/css/responsimple.min.css")
    link(rel="stylesheet", href="./public/css/estilos.css")
  body
    block content